<div
  class="flex items-baseline justify-start mb-4 pb-4 border-b-slate-700 border-b-[1px]"
>
  <div class="flex items-baseline">
    <img
      src="/assets/logo.svg"
      alt="Logo"
      class="w-[50px] h-[50px] block relative top-2"
    />
    <h1 class="text-3xl font-light">azcadea</h1>
  </div>
  <ul class="flex items-baseline ml-8 space-x-3">
    <li>
      <a routerLink="/" class="text-blue-400 font-light"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        class="text-blue-400 font-light"
        >About</a
      >
    </li>
  </ul>
</div>
