<nav
  class="flex items-baseline justify-start mb-4 pb-4 border-b-slate-700/75 border-b-[0.5px]"
>
  <div class="flex items-baseline">
    <img
      alt="Logo"
      src="/assets/logo.svg"
      class="w-[50px] h-[50px] block relative top-2"
    />
    <h1 class="text-3xl font-light">azcadea</h1>
  </div>
  <ul class="flex items-baseline ml-8 space-x-4 font-light">
    <li>
      <a
        routerLink="/"
        routerLinkActive="font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="font-semibold"
        >About</a
      >
    </li>
  </ul>
</nav>
