<h2 class="text-2xl font-semibold mb-1">About</h2>
<p>
  This is a fictional demo app that goes with a
  <a href="https://phrase.com/blog">Phrase blog</a>
  article. It was made with
  <a href="https://angular.io">Angular</a> and
  <a href="https://tailwindcss.com/">Tailwind CSS</a>.
</p>

<h2 class="text-2xl font-semibold mb-1 mt-6">
  Attributions
</h2>

<p>
  Brand icon in navbar is
  <i class="font-italic">Arcade</i> by
  <a href="https://thenounproject.com/icon/arcade-2298442/"
    >Flatart from NounProject.com</a
  >.
</p>

<p class="mt-4">
  Arcade cabinet photos are from
  <a href="https://unsplash.com/">Unsplash</a>:
</p>

<ul class="list-disc pl-6 mt-2">
  <li>
    <a href="https://unsplash.com/photos/0X5Hl2Xbj6s"
      >Mappy cabinet</a
    >
    by
    <a href="https://unsplash.com/@danischerenberg"
      >Daniela Scherenberg Diaz</a
    >.
  </li>
  <li>
    <a href="https://unsplash.com/photos/K-osgBT0WLE"
      >Guitar hero cabinet</a
    >
    by
    <a href="https://unsplash.com/@retrokram">Senad Palic</a
    >.
  </li>
  <li>
    <a href="https://unsplash.com/photos/EfqQLK5T_lE"
      >Super Mario Bros. cabinet</a
    >
    by
    <a href="https://unsplash.com/@rhweht"
      >Rafael Hoyos Weht</a
    >
    .
  </li>
  <li>
    <a href="https://unsplash.com/photos/mdZA_AWrAjA"
      >Pac-man cabinet</a
    >
    by
    <a href="https://unsplash.com/@darya_tryfanava"
      >Darya Tryfanava</a
    >.
  </li>
</ul>
