<h2 i18n class="text-2xl font-semibold mb-1">About</h2>
<p i18n>
  This is a fictional demo app that goes with a Phrase blog article. It was made with Angular and Tailwind CSS.
</p>

<h2 i18n class="text-2xl font-semibold mb-1 mt-6">
  Attributions
</h2>

<p i18n>
  Brand icon in navbar is
  <i class="font-italic">Arcade</i> by Flatart from NounProject.com.
</p>

<p i18n class="mt-4">
  Arcade cabinet photos are from
  <a href="https://unsplash.com/">Unsplash</a>:
</p>

<ul class="list-disc pl-6 mt-2">
  <li>
    <a i18n href="https://unsplash.com/photos/0X5Hl2Xbj6s"
      >Mappy cabinet</a
    >
    :
    <a href="https://unsplash.com/@danischerenberg"
      >Daniela Scherenberg Diaz</a
    >.
  </li>
  <li>
    <a i18n href="https://unsplash.com/photos/K-osgBT0WLE"
      >Guitar hero cabinet</a
    >
    :
    <a i18n href="https://unsplash.com/@retrokram">Senad Palic</a
    >.
  </li>
  <li>
    <a i18n href="https://unsplash.com/photos/EfqQLK5T_lE"
      >Super Mario Bros. cabinet</a
    >
    :
    <a i18n href="https://unsplash.com/@rhweht"
      >Rafael Hoyos Weht</a
    >
    .
  </li>
  <li>
    <a i18n href="https://unsplash.com/photos/mdZA_AWrAjA"
      >Pac-man cabinet</a
    >
    :
    <a i18n href="https://unsplash.com/@darya_tryfanava"
      >Darya Tryfanava</a
    >.
  </li>
</ul>
